.example-card {
    max-width: 400px;
    /* max-height: 250px; */
    background-color: #EBEBEB;
    /* width: 100%; */
    height: 186px;
    //    margin-top: 0%;
    /* padding-left: 50%;
   padding-right: 50%; */
}

// .cardDiv{
//     width: 20%;
// }
.example-card1 {
    max-width: 400px;
    background-color: #EBEBEB;
    height: 218px;
    width: 36%;
}

.message {
    // color: rgb(186, 74, 158);
    color: black;
}

.emoji {
    // color:rgb(180, 203, 102);
    color: #0b1560;
    font-size: 1.5em;
}

.mat-icon {
    vertical-align: middle;
}