<div fxFlex="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="header">
    <div fxLayout fxLayoutAlign="start center">
        <button mat-icon-button (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
    </button>

        <img src="../../../assets/Images/finnAirLogo.jfif" width="70px">
    </div>
    <div>
        <img src="../../../assets/Images/FinnAirTitle.jpg" width="150px">
        <span class="spacer"></span>

    </div>
    <div>
        <div fxFlex="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
            <mat-icon matTooltip="Settings">settings_applications</mat-icon>
            <mat-icon matTooltip="Help">contact_support</mat-icon>
            <mat-icon matTooltip="Logout">settings_power</mat-icon>
        </div>
    </div>

</div>